/*
 * MTA Electrical Services for Bootstrap
 */

@font-face {
    font-family: "Impact-local";
    src: url("../assets/fonts/impact.ttf");
}

body {
	font-family: Arial, sans-serif;
	padding-top: 4rem;
}

/** Titles **/
h1, h2, h3, h4, h5, h6, .navbar, .emphasis {
	font-family: Impact, Impact-local, fantasy;
	font-weight: normal;
	text-transform: uppercase;
}
h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 2.25rem;
}
h3 {
	font-size: 1.75rem;
}
h4, .emphasis, .navbar-nav li {
	font-size: 1.25rem;
}

/** Nav bar **/
.navbar {
	box-shadow: 0px 0px 12px #444;
}
.navbar-brand img {
	height: 2.5rem;
}
.navbar-nav li {
	padding-left: 0.5rem;
	padding-right: 1.5rem;
}

/** Home **/
#home {
	background-image: url(../assets/images/banner-cables.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

/** Services **/
#services ul {
	padding-left: 1.25rem;
}
#services li {
	padding-bottom: 0.25rem;
	padding-top: 0.25rem;
}

/** Footer **/
footer p {
	margin: 0;
	padding-bottom: 0.2rem;
	padding-top: 0.2rem;
}

/** Misc **/
ul {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}
.reverse {
	-webkit-transform:rotateY(180deg);
	-moz-transform:rotateY(180deg);
	-o-transform:rotateY(180deg);
	-ms-transform:rotateY(180deg);
	unicode-bidi:bidi-override;
	direction:rtl;
}
